.container{
    display: grid;
    height: 98vh;
    grid-template-rows: 10% 90%;
    grid-template-columns: auto auto auto;
    grid-template-areas:
    "meni meni meni"
    "odabirVjezbe graf graf"
    "odabirVjezbe graf graf";
    text-align: center;
    vertical-align: middle;
    grid-gap:0.3rem;
}

#meni{
    background-color: lightgreen;
    grid-area: meni;
    margin-bottom: -20px;/* ovo i odabir vjezbe margin-top da se ispod vjezbe prosiri ispod za 20px*/
}

#odabirVjezbe{
    margin-top: 20px;
    height: fit-content;
    background-color: aquamarine;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    grid-area: odabirVjezbe;
}

img{
    width: 440px;
    height: 350px;
    object-fit: cover;
    object-position: center;
    padding: 0.3em;
}

#graf{
    background-color: yellow;
    grid-area: graf;
}

@media screen and (min-width:800px){
    .container{
    grid-template-rows: 10% 80%;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "meni meni meni"
    "odabirVjezbe graf graf"
    "odabirVjezbe graf graf";
    }
    ul li{
        display: inline;
        float: left;
        text-indent: 30px;
        padding-bottom: 20px;
    }
    #graf{
        margin-top: 20px;
    }
}

@media screen and (max-width:799px){
    .container{
        grid-template-rows: 10% auto 40%;
        grid-template-columns: auto;
        grid-template-areas:
        "meni"
        "odabirVjezbe"
        "graf"
        "graf"
        "graf"
        "graf";
    }
    img{
        width: 400px;
        height: 350px;
        object-fit: cover;
        object-position: center;
        padding: 0.3em;
    }
    #grupelnk{
        width: 110%;
        margin-left: -10%;
    }
    #vjezbelnk{
        width: 110%;
        margin-left: -10%;
    }
}

.div1 {
    display: block; /*dugmad u kolonu*/
    width: 550px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
ul li{ /*tackice obrisane*/
    list-style-type: none;
}

.myDiv {
    
    background-color: #6caecc;    
    text-align: center;
}
.child {
    display: inline-block;
    width: max-content;
    background-color: #74cc8c;
    border: none;
    color: black;
    padding: 6px 20px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.klasa{
    background-color: #4cb050;
    margin: 10px;
    padding: 10px;
    border: none;
}
