.proba{
    margin: 10px;
    padding: 5px;
}

#unosBrojaVjezbi{
    margin: 10px;
    padding: 5px;
}

body{
    padding: 100px;
    background-image: url("../images/pozadina.jpg");
}

#mojButton{
    background-color: #4CAF50;
    color: white;
    width: 80px;
    height: 28px;
    transition-duration: 0.4s;
    border-radius: 4px;
}

#mojButton:hover{
    color: black;
    background-color: white; 
}

#myButton{
    background-color: #4CAF50;
    color: white;
    width: 80px;
    height: 28px;
    transition-duration: 0.4s;
    border-radius: 4px;
}

#myButton:hover{
    color: black;
    background-color: white; 
}

#odgovorServera{
    padding-top: 10px;
}